section#contact
    h3 Contact
    .social-links
        a(href="#").icon-twitter
        a(href="#").icon-youtube
        a(href="#").icon-facebook
        a(href="#").icon-instagram
        a(href="#").icon-linkedin
        
    hr.bar
    
    a(href="mailto:apicuric@gmail.com").biglink apicuric@gmail.com
        