header#header
    div.logo
    nav
        a(href="#about") About Me
        a(href="#work") Work
        a(href="#clients") Clients
        a(href="#contact") Contact
        
    div.clear
    h1 
        span Arthist Theme
    p.kicker Coder // Designer // Thinker

