<section id="client"><h3>Clients</h3><div class="client-controls"><div class="control-next"></div><div class="control-prev"></div></div><div class="clients-mobile-nav"><span></span><span></span><span></span><span></span></div><div class="clients-belt"><div class="client-unit"><div class="client-face"><img alt="face" src="/assets/img/clients/ja.jpg"/><strong class="client-name">Aleksandar Picuric</strong><em class="client-title">Direction of Design, Quebec</em></div><div class="client-content"><div class="client-quote-mark-start"> </div><p><strong>Jade is a terse and simple</strong> templating language with a dasdasdasdasdas
 strong focus on performancesd dasdasdasdasd
 templating language with a dasdasdasdasdas
 strong focus on performancesd dasdasdasdasd
 strong focus on performancesd </p></div></div><div class="client-unit"><div class="client-face"><img alt="face" src="/assets/img/clients/aleks.jpg"/><strong class="client-name">Aleksandra Jakimova</strong><em class="client-title">Director of design, Belgrade</em></div><div class="client-content"><div class="client-quote-mark-start"> </div><p><strong>Jade is a terse and simple</strong> templating language with a dasdasdasdasdas
 strong focus on performancesd dasdasdasdasd
 templating language with a dasdasdasdasdas
 strong focus on performancesd dasdasdasdasd
 strong focus on performancesd </p></div></div><div class="client-unit"><div class="client-face"><img alt="face" src="/assets/img/clients/adam.jpg"/><strong class="client-name">Adam Redžić</strong><em class="client-title">Director of design, London</em></div><div class="client-content"><div class="client-quote-mark-start"> </div><p><strong>Jade is a terse and simple</strong> templating language with a dasdasdasdasdas
 strong focus on performancesd dasdasdasdasd
 templating language with a dasdasdasdasdas
 strong focus on performancesd dasdasdasdasd
 strong focus on performancesd </p></div></div><div class="client-unit"><div class="client-face"><img alt="face" src="/assets/img/clients/nives.jpg"/><strong class="client-name">Nives Lakic</strong><em class="client-title">Director of design, California</em></div><div class="client-content"><div class="client-quote-mark-start"> </div><p><strong>Jade is a terse and simple</strong> templating language with a dasdasdasdasdas
 strong focus on performancesd dasdasdasdasd
 templating language with a dasdasdasdasdas
 strong focus on performancesd dasdasdasdasd
 strong focus on performancesd </p></div></div></div><div class="clients-logos"><div class="client-logo"></div><div class="client-logo"></div><div class="client-logo"></div><div class="client-logo"></div></div></section>